    /*  RESET   */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

    /*   GENERAL   */

.container {
    width: 60%;
    margin: 0 auto;
}

.left-margin {
    margin-left: 40px ;
}

.section-spacing{
    padding-top: 20px;
}

.content-spacing {
    padding-top: 20px;
}

    /*  HEADER  */

header {
    padding: 10px;
}

header img,
header h1 {
    vertical-align: middle;
}

h1 {
    display: inline;
    font-size: 2.5em;
}

    /*  MAIN  */

main {
    background-color: #f6f8f9;
    padding: 20px 0;
    padding-top: 50px;
}

.main-content {
    background-color: white;
    padding: 20px;
    padding-bottom: 25px;
    border-radius: 5px 5px 0px 0px;
}

.main-bottomborder {
    border-radius: 0px 0px 5px 5px;
}

    /* SUBMIT BUTTONS */

.submit-buttons {
    border: 1px solid #cdd1d6;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
}

.button-addtask {
    background-color: #47adf1;
    color: white;   
}

.button-selection {
    background-color: white;
    color: #cdd1d6;
}

.grey-line {
    background-color:#f6f8f9;
    width: 100%;
    height: 2px;
}

    /* TEXT STYLING */

.text-spacing {
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 1.5em;
}
    
.text-style {
    font-size: 1.25em;
    padding-left: 10px;
}

    /* CIRCLE STYLING*/

.circle-icon {
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    font-size: 0.80em;
    font-weight: bold;
}

.circle-check {
    border-color: #64c0a9;
    color: #64c0a9;
}

.circle-cross {
    border-color: red;
    color: red;
}

    /* BUTTONS TODOLIST */

.buttons {
    border-radius: 15px;
    padding: 8px 15px 8px 15px;
    color: white;
    border: 0;
}
/*     BUTTONS TODOLIST COLOR   */

.button-colorlightblue {
    background-color: #47adf1;
}

.button-colorpurple {
    background-color:#9c72e4;
}

.button-colorgreen {
    background-color: #64c0a9;
}

.button-colorlightgreen {
    background-color: #b0c926;
}

.button-colorpink {
    background-color: #d863a1;
}

.button-colororange {
    background-color: #f29e33;
}
